repos:
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        exclude: '\venv'

-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5.7
    hooks:
    -   id: autopep8
